@import '/src/common/variables';

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logoSpinAnime infinite 20s linear;
  }
}

@keyframes logoSpinAnime {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: $background;
}

.innerContainer {
  opacity: 0;
}

.turnVisible {
  animation: visibleAnime forwards 1s ease-in-out;
}

@keyframes visibleAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.turnInvisible {
  animation: invisibleAnime forwards 1s ease-in-out;
}

@keyframes invisibleAnime {
  from {
    opacity: 100;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}
