//noinspection CssInvalidAtRule
@import-normalize;

* {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c',
  'Noto Sans Japanese',
  '游ゴシック体',
  'Yu Gothic',
  YuGothic,
  'ヒラギノ角ゴ Pro W3',
  'Hiragino Kaku Gothic Pro',
  'メイリオ',
  Meiryo,
  'ＭＳ Ｐゴシック',
  'MS PGothic',
  sans-serif;
}

html, body {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  'Courier New',
  monospace;
}
