body {
  margin: 0;

  /*
        if you want to use woff,
        visit https://fonts.google.com/?subset=japanese
      */
  font-family:
    'M PLUS Rounded 1c',
    'Noto Sans Japanese',
    '游ゴシック体',
    'Yu Gothic',
    YuGothic,
    'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro',
    'メイリオ',
    Meiryo,
    'ＭＳ Ｐゴシック',
    'MS PGothic',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
