// https://color.adobe.com/ja/create/color-wheel
// base color: #D7E1E7
$shirosumire: #D7DAF5;
$geppaku: #E0EBFF;
$shirahana: #D7E1E7;
$aijiro: #E0FBFF;
$shiraai: #D7F5F0;

$konnezu: #44617B;

$foreground: $konnezu;
$background: $shirosumire;
